[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses-json = "*"
sqlalchemy = "*"
pymysql = "*"
cryptography = "*"

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.8"

[scripts]
main = "python main.py"
type = "find . -name \"*.py\" -exec mypy {} +"
test = "python -m pytest -vv"
format = "autopep8 -ivr ."
lint = "flake8 --show-source ."
